*{
    color: rgb(238, 243, 242);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    overflow: auto;
}
body{
    background: #787878;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    overflow: hidden;
    height: 100%;
    margin: 0%;
}
.wrapper{
    display: flex;
    position: relative;
}
.wrapper .side-bar{
    position: fixed;
    width: 200px;
    height: 100%;
    background-color: #0f1014;
    padding: 30px;
    top: 0%;
    z-index: 1;
    overflow-x: hidden;
}
.wrapper .side-bar ul li{
    padding: 15px;
    border-bottom: 1px solid #787878;
    border-top: 1px solid #0f1014;
}
.wrapper .side-bar ul li a{
    color:rgb(238, 243, 242);
    display: block;
}
.wrapper .side-bar ul li.active{
    background: #858585e6;
}
.wrapper .side-bar ul li a.active{
    color: #0f1014;
}
.wrapper .side-bar ul li a .fas{
    width: 25px;
}
.wrapper .side-bar ul li:hover{
    background: #b4b4b4e6;
}
.wrapper .side-bar ul li:hover a{
    color: #0f1014;
}
.wrapper .side-bar .socials{
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
.wrapper .side-bar .socials a{
    display: block;
    width: 40px;
    background: #0f1014;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 0 5px;
    color: #787878;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}